<h1><%= @car.name %></h1>
<ul>
  <li>Manufacturer: <%= @car.manufacturer.name %></li>
  <li>Year: <%= @car.year %></li>
  <li>Mileage: <%= @car.mileage %></li>
  <li>Color: <%= @car.color %></li>
</ul>
<p>Description: <%= @car.description %></p>
